@font-face{
	font-family: 'Rubik';
	src: local('Rubik'),
		url('./assets/fonts/Rubik-Regular.woff2') format('woff2'),
		url('./assets/fonts/Rubik-Regular.ttf') format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Rubik';
	src: local('Rubik'),
		url('./assets/fonts/Rubik-Light.woff2') format('woff2'),
		url('./assets/fonts/Rubik-Light.ttf') format('truetype');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: 'Rubik';
	src: local('Rubik'),
		url('./assets/fonts/Rubik-Medium.woff2') format('woff2'),
		url('./assets/fonts/Rubik-Medium.ttf') format('truetype');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

*,
*::before,
*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*Variable Declaration*/
:root{
	font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--blue: hsl(246, 80%, 60%);

	--light-red-work: hsl(15, 100%, 70%);
	--soft-blue: hsl(195, 74%, 62%);
	--light-red-study: hsl(348, 100%, 68%);
	--lime-green: hsl(145, 58%, 55%);
	--violet: hsl(264, 64%, 52%);
	--soft-orange: hsl(43, 84%, 65%);

	--very-dark-blue: hsl(226, 43%, 10%);
	--dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
	--pale-blue: hsl(236, 100%, 87%);

	--fs-username: min(2.25rem, 1.5vw + 1rem);
	--fs-small: .9rem;
	--fs-card-title: 18px;
	--fs-actual-time: clamp(2rem, 2.5vw + 1rem, 3rem);

	--separation: 2rem;
	--separation-medium: 1.5rem;
	--separation-small: 1rem;
	--card-width: 250px; 
	--card-height: 250px; 
}
#root{
  position: relative;
}
.main{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: var(--very-dark-blue);
}

.time-tracking{
	display: flex;
	max-height: min-content;
}

.time-tracking__user-content{
	background-color: var(--dark-blue);
	border-radius: 1rem;
	min-height: 100%;
}

.time-tracking__user{
	background-color: var(--blue);
	padding: var(--separation);
	border-radius: 1rem;
	min-height: 60%;
	max-width: 250px;
}

.user__info{
	margin-top: var(--separation);
}

.user__avatar-container{
	border: 2px solid white;
	border-radius: 50%;
	display: inline-block;
}

.user__avatar{
	display: block;
	max-width: 70px;
	max-height: 70px;
}


.user__report-text{
	color: var(--pale-blue);
	font-weight: 400;
	font-size: var(--fs-small);
}

.user__name{
	color: white;
	font-weight: 300;
	font-size: var(--fs-username);
	margin-bottom: var(--separation);
}

.buttons-container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: var(--separation);
}

.btn{
	appearance: none;
	border: none;
	background: none;
	color: var(--desaturated-blue);
	font-family: inherit;
	font-size: 1rem;
	margin: .5rem;
	cursor: pointer;
	transition: color 150ms ease-in-out,
}
.selected{
  color: white;
}
.time-tracking__user-cards{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--separation);
	padding-left: var(--separation);
}

.card{
	min-width: var(--card-width);
	min-height: var(--card-height);
	max-height: max-content;
	background-color: var(--dark-blue);
	border-radius: 1rem;
	border-bottom-left-radius: 1.2rem;
	border-bottom-right-radius: 1.2rem;
	position: relative;

	& .card__progress{
		background-color: var(--dark-blue);
		min-height: 85%;
		border-radius: 1rem;
		padding: var(--separation-medium);
		top: 0%;
	    transition: top 1s ease;
		transition: background-color 150ms ease-in-out;
	}

	& .card__progress:hover{
		background-color: color-mix(in srgb, var(--desaturated-blue), var(--very-dark-blue) 50%);
	}

	&#work{
		background-color: var(--light-red-work);
	}

	&#play{
		background-color: var(--soft-blue);
	}

	&#study{
		background-color: var(--light-red-study);
	}

	&#exercise{
		background-color: var(--lime-green);
	}

	&#social{
		background-color: var(--violet);
	}

	&#self-care{
		background-color: var(--soft-orange);
	}

	& .card__header{
		display: flex;
		justify-content: flex-end;
		min-height: 15%;
		overflow: hidden;
		border-radius: 1rem;
		position: relative;
	}
}
.card:hover{ & .card__progress{
	position: absolute;
    width: 100%;
    top: -10%;
	transition: top 1s ease;
}
}
.card__icon{
	max-width: 60px;
	max-height: 60px;
	margin-right: var(--separation-small);
	position: absolute;
}

.card__title{
	color: white;
	font-size: var(--fs-card-title);
}

.card__btn{
	position: absolute;
	right: 0;
	padding: .5rem;
	border-radius: 50%;

	&:hover{
		opacity: .6;
	}
}

.card__progress-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.card__progress-bottom{
	margin-top: var(--separation);
}

.card__actual-time{
	font-size: var(--fs-actual-time);
	color: white;
	font-weight: 300;
}

.card__last-time{
	display: block;
	color: var(--pale-blue);
	margin-top: var(--separation-small);
	font-size: var(--fs-small);
}

.loading{
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--very-dark-blue);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0 .5rem;
	opacity: 1;
	transition: opacity 150ms ease-in-out;
	z-index: 5;
}

.loading.rev-opacity{
	opacity: 0;
}

.loading__item{
	width: 5px;
	height: 5px;
	background-color: white;
	border-radius: 50%;
}

.loading__item:nth-child(1){
	animation: bounce 150ms ease-in-out infinite;
}

.loading__item:nth-child(2){
	animation: bounce 200ms ease-in-out infinite;
}

.loading__item:nth-child(3){
	animation: bounce 250ms ease-in-out infinite;
}

@keyframes bounce{
	0%{
		transform: translateY(0px)
	}
	50%{
		transform: translateY(5px)
	}
	100%{
		transform: translateY(0px)
	}
}
/* Media Queries */
@media only screen and (max-width: 1000px){
	:root{
		--separation: 1.8rem;
		--card-width: 200px; 
		--fs-actual-time: 3rem;
	}
}
@media  (max-width:900px){
  .main{
    overflow-y: scroll;
    height: auto;
  }.time-tracking{
    padding: 1rem;
    flex-direction: column;
  }
  .time-tracking__user{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .user__avatar-container{
    padding: 1rem;
  }
  .user__avatar{
    max-height: 100px;
    max-width: 100px;
  }
  .time-tracking__user-cards{
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: var(--separation);
		padding-left: 0;
	}
  .buttons-container{
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card{
    min-width:40vw;
  }
  .card__progress-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (max-width: 650px){
	:root{
		--card-width: 80vw; 
		--card-height: clamp(160px, 150px + 3vw, 180px);
		--fs-actual-time: 2.5rem;
	}

	.main{
		height: max-content;
		padding: var(--separation) 0;
	}

	.time-tracking{
		flex-direction: column;
	}

	.time-tracking__user{
		min-width: 100%;
		display: flex;
		align-items: center;
		gap: var(--separation);
	}

	.buttons-container{
		flex-direction: row;
		justify-content: space-between;
	}

	.card__progress-bottom{
		margin-top: var(--separation-small);
		display: flex;
		justify-content: space-between;
	}

	.time-tracking__user-cards{
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		margin-top: var(--separation);
		padding-left: 0;
	}
}

/* Author */

footer{
  position: absolute;
  width: 100%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  color: white;
}
footer a{
  text-decoration: none;
  color: blueviolet;
}
